{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "arrow-parens": ["error", "always"],
    "brace-style": ["error", "stroustrup"],
    "comma-dangle": ["error", "never"],
    "semi": ["error", "never"],

    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/prop-types": "off"
  },
  "env": {
    "browser": true,
    "mocha": true
  }
}
