<!doctype>
<html lang="en">
	<head>
		<style>
			html, body {
				margin: 0;
				padding: 0;
			}
		</style>
	</head>
	<body>
		<div id="app">{{{ app }}}</div>
		<script type="text/javascript">window.THEME={{{ theme }}};</script>
		<script type="application/javascript" src="http://localhost:8080/assets/js/index.js"></script>
	</body>
</html>
